* {
    box-sizing: border-box;
    font-family: Calibri, serif;
}

body {
    color: white;
    background: lightsteelblue url(images/dna.jpg) fixed no-repeat;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 20px;
}

.container__title {
    text-align: center;
    font-family: Calibri, serif;
}

.container__section {
    font-family: "Calibri Light", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}

.input__item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input__item_radio {
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
}

.input__data_number {
    margin: 3px;
    background: lightsteelblue;
    border: none;
    color: black;
    font-weight: 300;
    padding: 10px;
    width: 350px;
    font-family: "Calibri Light", sans-serif;
    border-radius: 5px;
}

.input__radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.output {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
}

.output__textarea {
    background: lightsteelblue;
    border: none;
    color: black;
    font-weight: 300;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: "Calibri Light", sans-serif;
    border-radius: 10px;
    resize: unset;
}

.output__button {
    margin-top: 15px;
    text-align: center;
}
